%h1= @dog.name
%p= @dog.description

= link_to "Back", root_path, class: "btn btn-default"
= link_to "Edit", edit_dog_path, class: "btn btn-default"
= link_to "Delete", dog_path, method: :delete, data: {confirm: "Are you sure you want to delete this Dog?"}, class: "btn btn-default"